/*Fullstack Layout*/
.fullstack{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Hero Section*/

.fullstack-hero{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 150px;
}

.hero-left{
    display: flex;
    flex-direction: column;

}

.hero-left h1{
    font-size: 30px;
    color: #333;
    padding: 20px 0px;
}

.hero-left h5{
    font-size: 15px;
    color: #333;
    opacity: 0.8;
    max-width: 300px;
}

.experience-row{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.filled_experience{
    border: 2px solid black;
    color: black;
    border-radius: 20px;
    padding: 3px 10px;
    background-color: rgb(216, 244, 173);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.no_filled_experience{
    color: black;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: rgb(244, 187, 173);
    margin-left: -70px;
    border: 2px dashed black;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -70px;
}

.hero-right{
    display: flex;
    flex-direction: column;
}

.hero-right img{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/*STAT SECTION*/

.fullstack-stat{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid black;
    margin-top: 70px;
}

.stat-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.services-pick-fullstack{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid black;
    padding: 20px 100px;
}


.stat-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.middle-table{
    display: flex;
    flex-direction: column;
    width: 200px;
    
}

.table-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.table-row h2{
    font-size: 15px;
    color: #333;
    opacity: 0.8;
}

.middle-thumbnail{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 250px;
    border-radius: 20px;
}


.middle-thumbnail:hover{
    cursor: pointer;
    width: 50%;
    padding: 0px 20px;
    height: 250px;
}

.language-row-fullstack{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

.stat-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.bottom-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border: 5px solid black;

}

.thumbnail-image{
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 6px 3px 16px 1px black;
}

.thumbnail-image:hover{
    filter: blur(1px);
}

.visit-btn{
    position: absolute;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 4px 1px 10px 1px black;
    z-index: 999;
    opacity: 0;
    transition: ease-in-out;
}

.middle-thumbnail:hover .visit-btn{
    transition: ease-in-out 1s;
    opacity: 1;
}

.visit-btn:hover{
    transform: scale(1.2);
}


.visit-btn h3{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 13px;
}

/*MY LEARNING PATH*/

.fullstack-learning{
    width: 100%;
    margin-top: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");


:root {
	--c-grey-100: #f4f6f8;
	--c-grey-200: #e3e3e3;
	--c-grey-300: #b2b2b2;
	--c-grey-400: #7b7b7b;
	--c-grey-500: #3d3d3d;

	--c-blue-500: #688afd;
}



button,
input,
select,
textarea {
	font: inherit;
}

.learning-path a {
	color: inherit;
}
.learning-path img {
	display: block;
	max-width: 100%;
}
/* End basic CSS override */

.timeline {
	width: 85%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	padding: 32px 0 32px 32px;
	border-left: 2px solid var(--c-grey-200);
	font-size: 1.125rem;
    margin-top: 20px;
}

.timeline-item {
	display: flex;
	gap: 24px;
	& + * {
		margin-top: 24px;
	}
	& + .extra-space {
		margin-top: 48px;
	}
}

.new-comment {
	width: 100%;
	input {
		border: 1px solid var(--c-grey-200);
		border-radius: 6px;
		height: 48px;
		padding: 0 16px;
		width: 100%;
		&::placeholder {
			color: var(--c-grey-300);
		}

		&:focus {
			border-color: var(--c-grey-300);
			outline: 0;
			box-shadow: 0 0 0 4px var(--c-grey-100);
		}
	}
}

.timeline-item-icon {
    cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: -52px;
	flex-shrink: 0;
	overflow: hidden;
	box-shadow: 0 0 0 6px #fff;
	svg {
		width: 20px;
		height: 20px;
	}

	&.faded-icon {
		background-color: var(--c-grey-100);
		color: var(--c-grey-400);
	}

	&.filled-icon {
		background-color: var(--c-blue-500);
		color: #fff;
	}
}


.timeline-item-description {
	display: flex;
	padding-top: 6px;
	gap: 8px;
	color: var(--c-grey-400);

	.learning-path img{
		flex-shrink: 0;
	};
	.learning-path a {
		color: var(--c-grey-500);
		font-weight: 500;
		text-decoration: none;
		&:hover,
		&:focus {
			outline: 0; 
			color: var(--c-blue-500);
		}
	}
}

.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	aspect-ratio: 1 / 1;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	&.small {
		width: 28px;
		height: 28px;
	}

	img {
		object-fit: cover;
        position: relative;
	}
}

.comment {
	margin-top: 12px;
	color: var(--c-grey-500);
	border: 1px solid var(--c-grey-200);
	box-shadow: 0 4px 4px 0 var(--c-grey-100);
	border-radius: 6px;
	padding: 16px;
	font-size: 1rem;
}

.button {
	border: 0;
	padding: 0;
	display: inline-flex;
	vertical-align: middle;
	margin-right: 4px;
	margin-top: 12px;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	height: 32px;
	padding: 0 8px;
	background-color: var(--c-grey-100);
	flex-shrink: 0;
	cursor: pointer;
	border-radius: 99em;

	&:hover {
		background-color: var(--c-grey-200);
	}

	&.square {
		border-radius: 50%;
		color: var(--c-grey-400);
		width: 32px;
		height: 32px;
		padding: 0;
		svg {
			width: 24px;
			height: 24px;
		}

		&:hover {
			background-color: var(--c-grey-200);
			color: var(--c-grey-500);
		}
	}
}

.show-replies {
	color: var(--c-grey-300);
	background-color: transparent;
	border: 0;
	padding: 0;
	margin-top: 16px;
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 1rem;
	cursor: pointer;
	svg {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
	}

	&:hover,
	&:focus {
		color: var(--c-grey-500);
	}
}

.avatar-list {
	display: flex;
	align-items: center;
	& > * {
		position: relative;
		box-shadow: 0 0 0 2px #fff;
		margin-right: -8px;
	}
}

/*RESPONSIVENESS*/

@media (max-width: 880px) {
	.hero-right img{

		display: none;
	}

    .services-pick-fullstack h3{
		font-size: 11px;
	}
  
	.services-pick-fullstack{
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		margin-right: auto;
		margin-left: auto;
		border-bottom: 1px solid black;
		padding: 20px 10px;
	}


	.stat-middle{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 20px 0px;
	}

	.middle-table{
		display: flex;
		flex-direction: column;
		width: 200px;
		margin-bottom: 50px;
	}

	.middle-thumbnail{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 250px;
		border-radius: 20px;
	}
	
	.middle-thumbnail:hover{
		cursor: pointer;
		width: 100%;
		padding: 0px 20px;
		height: 250px;
	}

	.stat-bottom{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 0px;
	}
}
