

.project-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 150px;
}

.project-hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
}

.hero-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: #ffffff;
}

.hero-top h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    width: 600px;
}

.hero-top h2{
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    width: 110px;
    box-shadow: inset 1px 1px 10px 1px black;
    opacity: 0.8;
    padding: 5px 10px;
    border-radius: 50px;
    margin-bottom: 15px;
}

.hero-top h5{
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    width: 800px;
    margin-bottom: 15px;
    opacity: 0.8;
}

/*HERO TOP APPEARANCE ANIMATION*/

.hero-top {
    animation: hero-top-appear 2s ease;
}

@keyframes hero-top-appear{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}



.hero-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.visit-p-btn{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 15px 20px;
    border-radius: 30px;
}

.visit-p-btn h4{
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

.visit-p-btn:hover{
    background-color: #000000;
    cursor: pointer;
}

.visit-p-btn:hover h4{
    color: #ffffff;
}

/*VISIT BUTTON LINEAR LOAD APPEARANCE ANIMATION*/

.visit-p-btn {
    animation: visit-p-btn-appear 2s ease;
}

@keyframes visit-p-btn-appear{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/********<  PROJECT STATISTICS  >**********/

.project-stat{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: 250px;
    align-items: center;
    margin-top: 80px;
}

/*********< PROJECT STATISTICS APPEARANCE ANIMATION >**********/

.project-stat {
    animation: project-stat-appear 5s ease;
}

@keyframes project-stat-appear{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.stat-top{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    border: 3px solid #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 50px;
    border-bottom: 0px;
}

.stat-top h4{
    cursor: pointer;
}

.selected-date{
    opacity: 1;
}

.not-selected-date{
    opacity: 0.3;
}

.project-page .stat-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    border: 3px solid #333;
    border-radius: 10px;
}

.stat-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-right: 1px groove #ffeeee;
}

/*STAT TEXT FAST AND MULTIPLE FLIPPING ANIMATION ON LOAD ONCE BOTTOM ANIMATION ENDED*/

.stat-item h2{
    animation: stat-text-flip 2s 3s ease;
}

@keyframes stat-text-flip{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

/*PROJECT DETAILS*/

.project-details-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    align-items: center;
}

.d-p-title{
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
    padding: 10px 20px;
    box-shadow: inset 1px 1px 10px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    opacity: 0.7;
}

.portfolio-page{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    overflow-x: hidden;
    width: 100%;
    align-items: center;
}

.intro-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
}

.intro-left-bar{
    border:2px solid black;
    padding: 10px;
    border-top-left-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.youtube-frame{
    width: 100%;
    height: 100%;
    box-shadow: inset 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.intro-left-title{
    margin-bottom: 20px;
}

.intro-left-image{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width:100px;
    height:100px;
    position:relative;
    margin-left:150px;
    border:0px solid black;
    background-size: cover;
    margin-top: 10px;
    object-fit: cover;
}

.intro-left-list{
    margin-left: 10px;
}

.intro-left-list li{
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 15px;
}

.tryFree{
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    color: black;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.tryFree:hover{
    background-color: black;
    color: white;
}

.this-project-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.this-project-title{
    text-align: center;
    margin-top: 40px;
    opacity: 1;
    font-size: 20px;
    font-weight: 400;
    width: 50%;
    background-color: black;
    color:white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.experience-box{
    display: flex;
    flex-direction: row;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    justify-content: space-between;
}

.experience-box-reverse{
    display: flex;
    flex-direction: row-reverse;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    justify-content: space-between;
}


.exp-img{
    width:150px;
    height:150px;
    object-fit: cover;
    z-index: -1;
    position: relative;
}

.experience-box .exp-text{
    align-items: start;
    width: 400px;
   
}

.experience-box-reverse .exp-text{
    align-items: start;
    width: 400px;
    margin-left: 30px;
}

.exp-title{
    font-size: 20px;
    margin-bottom: 10px;
}

.experience-show{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 30px;
}

.service-help-title{
    font-size:23px;
    margin-bottom: 20px;
}

.service-grid-box{
    display:flex;
    flex-direction:column;
    padding: 20px;
}

/*STRIPE*/

.stripe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
}

.stripe-btn{
    padding: 50px;
    opacity: 0.4;
    border: 2px dashed black;
    background-color: transparent;
    border-radius: 20px;
}

.stripe-btn:hover{
    border: 1px solid black;
    opacity: 1;
    border-radius: 10px;
    transition: all 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}

.stripe-btn h2{
    font-weight: 500;
    color: black;
    font-size: 20px;
}

/*GITHUB ICON*/

.github-link{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 0;
    padding: 10px;
    margin-top: 80px;
    margin-left: -25px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    border-bottom: 1px groove black;
    border-right: 1px groove black;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  
  .github-link:hover{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(0.9);
  }
  
  .github-link:active{
    transition: all 0.3s ease;
    transform: scale(0.8);
  }
  
